.wrap {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    overflow: hidden;
}

.wrapColor {
    background: cyan;
    box-shadow: 0 0 8px 1px cyan;
}

.wrapColorL {
    background: lightskyblue;
    box-shadow: 0 0 8px 1px lightskyblue;
}

.p {
    margin: 0;
    font-weight: 600;
}

.pColor {
    color: cyan;
}

.pColorL {
    color: lightskyblue;
}