.wrap {
    display: inline-block;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 1px 2px;
    font-size: 12px;
    font-weight: 650;
    max-width: 95%;
}
.wrapColor{
    background: cyan;
    color: black;
}
.wrapColorL {
    background: #0f1724;
    color: lightskyblue;
}

