.wrap, .wrapL {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 100ms;
    border-radius: 5px;
}

.wrap:hover {
    cursor: pointer;
    outline: 2px solid cyan;
    box-shadow: 0 0 7px 0 cyan inset;
}
.wrapL:hover {
    cursor: pointer;
    outline: 2px solid lightskyblue;
    box-shadow: 0 0 7px 0 lightskyblue inset;
}

.heart i{
    color: cyan;
    font-size: 25px;
    /*box-shadow: 0 0 10px 2px cyan;*/
}
.heartL i{
    color: lightskyblue;
    font-size: 25px;
    /*box-shadow: 0 0 10px 2px lightskyblue;*/
}

.text {
    color: cyan;
    margin: 2px;
}
.textL {
    color: lightskyblue;
    margin: 2px;
}