.wrap {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    background: #0f1724;
    border-bottom: 3px solid cyan;
    box-shadow: 0 0 10px 1px cyan;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.siteName {
    border-radius: 20px;
    background: #11ece5;
    width: 160px;
    height: 35px;
    color: black;
    font-weight: 750;
    font-size: 24px;
    font-family: Algerian, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.siteName:after {
    content: '';
    position: absolute;
    bottom: 10px;
    box-shadow: 0 0 10px 3px cyan;
    width: 150px;
    height: 1px;
    background: cyan;
}

.siteName:before {
    content: '';
    position: absolute;
    top: 10px;
    box-shadow: 0 0 10px 3px cyan;
    width: 150px;
    height: 1px;
    background: cyan;
}

.searchBtn {
    width: 35px;
    height: 35px;
    border: 3px solid cyan;
    border-radius: 5px;
    color: cyan;
    font-size: 22px;
    font-weight: 700;
    box-shadow: 0 0 8px 2px cyan, 0 0 6px 1px cyan inset;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f1724;
    transition: 150ms;
}

.searchBtn:hover {
    box-shadow: 0 0 10px 3px cyan;
}

.searchBtn:active {
    background: cyan;
    color: black;
}

.form{
    display: flex;
}

.loadingBox{
    position: absolute;
    top: 15px;
    left: 20px;
}








