.wrap{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    min-height: 390px;
    padding: 10px;
    width: 250px;
    margin: 10px;
}
.wrapColor{
    border: 3px solid cyan;
    background: #0f1724;
}
.wrapColorL{
    border: 3px solid #0f1724;
    background: lightskyblue;
}

.titleAndA{
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 25px;
    font-weight: 600;
    margin: 2px;
}
.titleColor{
    color: cyan;
}
.titleColorL{
    color: #0f1724;
}

.starsAndF{
    display: flex;
    justify-content: space-between;
}




