.wrapS {
    width: 200px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 10px;
    padding: 0 3px;
}
.wrapSColor{
    border: 2px solid cyan;
    box-shadow: 0 0 10px 1px cyan;
}
.wrapSColorL {
    border: 2px solid #0f1724;
    box-shadow: 0 0 10px 1px #0f1724;
}

.wrapB{
    width: 400px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    margin: 10px;
    padding: 0 10px;
}
.wrapBColor{
    border: 3px solid cyan;
    box-shadow: 0 0 15px 2px cyan;
}
.wrapBColorL {
    border: 3px solid #0f1724;
    box-shadow: 0 0 15px 2px #0f1724;
}