.wrap {
    font-size: 20px;
    color: cyan;
    background: inherit;
}

.wrapL {
    font-size: 20px;
    color: #0f1724;
    background: inherit;
}
.wrap:hover, .wrapL:hover {
    cursor: pointer;
}

