.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.text {
    font-size: 50px;
    font-weight: 600;
    position: relative;
    margin: 5px;
}

.textColor {
    color: cyan;
}

.textColorL {
    color: #0f1724;
}

.lineUp, .lineDown {
    width: 350px;
    height: 1px;
    border-radius: 5px;
    border: 3px solid cyan;
    box-shadow: 0 0 10px 3px cyan;
}

.lineUpL, .lineDownL {
    width: 350px;
    height: 1px;
    border-radius: 5px;
    border: 3px solid #0f1724;
    box-shadow: 0 0 10px 3px #0f1724;
}





